@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
 body {
	 margin: 0;
	 font-family: 'Nunito', sans-serif;
	 background-color: #44444d;
}
 body a {
	 color: white;
	 text-decoration: none;
	  height: 100%;
	  min-height: 100%;
}
 .container {
 	 position:relative;
 	 bottom:60px;
	 height: 100vh;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
.mess
{
	width :80%;
	height:100px;
	color:#f8f4ef;
	font-family: 'Times New Roman', serif;
}
 .overview {
	 display: grid;
	 height: 450px;
	 width: 1024px;
	 grid-template-columns: 1fr 1fr 1fr 1fr;
	 grid-template-rows: 1fr 1fr 1fr 0.1fr;
	 background-color: #eff0ea;
	 color: #60fbeb;
	 position : relative;
	 bottom:65px;
	 padding: 20px;
	 border-radius: 10px;
	 -webkit-box-shadow: 4px 7px 26px 2px rgba(0, 0, 0, 0.53);
	 box-shadow: 4px 7px 26px 2px rgba(0, 0, 0, 0.53);
}
 .tile {
	 background: #ff0000;
	 background: linear-gradient(157deg, rgba(0, 0, 0, 1) 0%, rgba(36, 36, 36, 1) 100%);
	 border-radius: 5px;
	 margin: 5px;
	 padding: 20px;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 transition: all ease-in-out 1s;
}
 .tile h2 {
	 cursor: pointer;
}
 .icosvg {
	 height: 70px;
	 width: 70px;
	 fill: white;
	 transform: translatey(20px);
	 cursor: pointer;
	 position:relative;
	 top:20px;
}
 .active {
	 background: linear-gradient(157deg, rgba(130, 57, 24, 1) 0%, rgba(233, 106, 47, 1) 100%);
}
img
{
	height:80px; 
	
}

 .w1x1 {
 	height:200px;
	 grid-column: span 1;
}
 .w1x2 {
	 grid-column: span 2;
}
 .w1x3 {
	 grid-column: span 3;
}
 .w1x4 {
	 grid-column: span 4;
}
 .inner-1x {
	 display: grid;
	 grid-template-columns: 1fr;
}
 .inner-2x {
	 display: grid;
	 grid-template-columns: 1fr 1fr;
}
 .inner-3x {
	 display: grid;
	 grid-template-columns: 1fr 1fr 1fr;
}
 .center {
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .icon {
	 width: 100px;
	 height: 100px;
}
 .accent-text {
	 color: #fa032f;
}
 .footer {
	 grid-column: span 4;
	 margin-left: 5px;
	 margin-right: 5px;
	 color: #d05a24;
	 font-size: 10px;
	 display: flex;
	 flex-direction: row;
}
 .link-orange {
	 background: linear-gradient(157deg, rgba(157, 105, 22, 1) 0%, rgba(255, 169, 31, 1) 100%);
	 color: #fff;
	 padding: 2px 5px;
	 float: right;
	 margin-left: 5px;
	 cursor: pointer;
}
 .link-blue {
	 background: linear-gradient(157deg, rgba(130, 156, 150, 1) 0%, rgba(187, 228, 219, 1) 100%);
	 color: #fff;
	 padding: 2px 5px;
	 float: right;
	 margin-left: 5px;
	 cursor: pointer;
}
 .link-red {
	 background: linear-gradient(157deg, rgba(152, 49, 34, 1) 0%, rgba(255, 78, 51, 1) 100%);
	 color: #fff;
	 padding: 2px 5px;
	 float: right;
	 margin-left: 5px;
	 cursor: pointer;
}
 .link-white {
	 background: #fff;
	 color: #80ff80;
	 padding: 2px 5px;
	 float: right;
	 margin-left: 5px;
}
 .icons {
	 flex: 1;
}
 .icon-bottom {
	 fill: #80ff80;
	 width: 17px;
	 height: 17px;
	 margin-right: 10px;
	 cursor: pointer;
}
 